@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow:hsl(51, 100%, 49%);
    --dark-cyan-desaturated: hsl(167, 40%, 24%); //graphic design text 
    --dark-cyan-moderate: hsl(168, 34%, 41%); //footer
    --light-cyan: hsl(168, 56%, 62%);
    --dark-blue: hsl(198, 62%, 26%); // photography text
    --very-dark-blue: hsl(212, 27%, 19%);
    --very-dark-blue-grayish: hsl(213, 9%, 39%);
    --blue-grayish: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

    --font-barlow: 'Barlow', sans-serif;
    --font-fraunces: 'Fraunces', sans-serif;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-barlow);
    height: 100vh;
    width: 100%;
}

// universal classes

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
  display: hidden;
}

.animation-bounce-top {
    animation: bounce-top 1.5s both;
}

.footer-icons {
  color: var(--dark-cyan-moderate);
  font-size: 1.4rem;
}

@keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }

  // animista.net ^

// MEDIA QUERIES


  @media screen and (min-width: 768px) {
    .mediaqueries-mobile {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .mediaqueries-desktop {
      display: none;
    }
  }
